[core]
  editor = /usr/local/bin/nvim
  compression = -1
  autocrlf = false
  excludesfile = /Users/s-akiho/.gitignore
[user]
  #email = suguru.akiho@gmail.com
  email = s-akiho@unext.jp
  name = Suguru Akiho
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  ref = !git fetch origin && git remote prune origin
  s = status
  ss = status -sb
# show status after add (a)
  a  = !git add .  && git status
  ad = !git add .  && git status
  br = branch -a -v
  brc = "!git branch -r --merged master | grep -v -e master -e develop -e alter* -e config -e master* | sed -e 's% *origin/%%' | xargs -I echo" # マージズミのブランチを確認
  brd = "!git branch -r --merged master | grep -v -e master -e develop -e alter* -e config -e master* | sed -e 's% *origin/%%' | xargs -I% git push --delete origin %" # マージズミのブランチを削除する
  brc-cms = "!git branch -r --merged staging | grep -v -e staging -e develop -e alter* -e config -e master* | sed -e 's% *origin/%%' | xargs -I echo" # マージズミのブランチを確認
  brd-cms = "!git branch -r --merged staging | grep -v -e staging -e develop -e alter* -e config -e master* | sed -e 's% *origin/%%' | xargs -I% git push --delete origin %" # マージズミのブランチを削除する
  ci = commit -a -m
  cie = commit --allow-empty -m
  co = checkout
  d = diff
  dc = diff --cached
  l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
  lp = log -p
  # gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  gr = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
  tree = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
  rv = remote -v
  drag = pull --rebase
# rebase
  rbc = rebase --continue
  rba = rebase --abort
  st = stash
[push]
  default = simple
[pull]
  default = current
[merge]
  ff = false
